Library/
Temp/
obj/
Logs/
UserSettings/
MemoryCaptures/

.vscode/
.idea/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.unityproj
*.pidb
*.booproj
*.svd
*.sln.iml

Build/
Builds/
*.apk
*.aab
*.exe
*.app
*.unitypackage
*.zip
